{% extends "layout.html" %}

{% block content %}

<div class="header-text hidden-xs">
    <div class="col-md-12 text-center">
        <h1>
            <span id="title">Proact</span>
        </h1>
    </div>
</div>


<div class="container">

    <div class="col-12">


        {% if overdueTasks|length > 0 %}
        <p>Overdue Tasks</p>
        {% for i in range(overdueTasks|length)%}
        <div class="card" style="width: 100%; margin: 0 auto; margin-bottom: 5%;">
            <div class="card-header alert-danger">
                {{overdueTasks[i].date}}
            </div>
            <ul class="list-group list-group-flush">
                {% for x in range(overdueTasks[i].description|length) %}
                <form action="{{ url_for('update') }}" method="POST">

                    <button type="submit" class="list-group-item list-group-item-action"
                        name='{{overdueTasks[i].description[x][1:]}}'>
                        {{overdueTasks[i].description[x][1:]}}
                        <input type="submit" value="Mark as Complete" style="float:right"
                            name='{{overdueTasks[i].description[x][1:]}}' class="btn btn-info">
                    </button>


                </form>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% endif %}




        {% if today %}
        {% if eventToday %}
        <div class="card" style="width: 100%; margin: 0 auto; margin-bottom: 5%;">
            <div class="card-header">
                {{tasks[0].date}}
            </div>
            <ul class="list-group list-group-flush">
                {% for x in range(tasks[0].description|length) %}
                <form action="{{ url_for('update') }}" method="POST">
                    <button type="submit" class="list-group-item list-group-item-action"
                        name='{{tasks[0].description[x][1:]}}'>
                        {{tasks[0].description[x][1:]}}
                        <input type="submit" value="Mark as Complete" style="float:right"
                            name="complete_{{tasks[0].date}}_{{tasks[0].description[x][1:]}}" class="btn btn-info">
                    </button>

                </form>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No tasks for today! Take a break!</p>
        {% endif %}



        {% else %}
        {% if eventsForWeek %}
        {% for i in range(tasks|length)%}
        <div class="card" style="width: 100%; margin: 0 auto; margin-bottom: 5%;">
            <div class="card-header">
                {{tasks[i].date}}
            </div>
            <ul class="list-group list-group-flush">
                {% for x in range(tasks[i].description|length) %}
                <form action="{{ url_for('update') }}" method="POST">

                    <button type="submit" class="list-group-item list-group-item-action"
                        name='{{tasks[i].description[x][1:]}}'>
                        {{tasks[i].description[x][1:]}}
                        <input type="submit" value="Mark as Complete" style="float:right"
                            name="complete_{{tasks[i].date}}_{{tasks[i].description[x][1:]}}" class="btn btn-info">
                    </button>
                </form>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <p>No tasks for the week! Take a break!</p>
        {% endif %}
        {% endif %}



        {% if today%}
        <div class="text-center">
            <form action="{{ url_for('home') }}" method="POST">
                <div class="text-center btn-group btn-group-lg " role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-secondary btn-dark" name="today">Today</button>
                    <button type="submit" class="btn btn-secondary btn-secondary" name="7days">Next 7 Days</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="text-center">
            <form action="{{ url_for('home') }}" method="POST">
                <div class="text-center btn-group btn-group-lg " role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-secondary btn-secondary" name="today">Today</button>
                    <button type="submit" class="btn btn-secondary btn-dark" name="7days">Next 7 Days</button>
                </div>
            </form>
        </div>
        {% endif %}


    </div>
    <div class="text-center" style="margin-top: 5%;">
        <div class="col-12">
            <a href="{{url_for('add')}}">
                <button type="button" class="btn btn-primary btn-lg">Add Task</button>
            </a>

        </div>
    </div>
</div>

{% endblock %}